@charset "utf-8";
/* CSS Document */

#topbar {
	background-color: #0F2E6C;
	padding-top: 20px;
}


.topbar .logo {
	position: relative;
	transition: all 0.3s ease-in-out;
	z-index: 1;
	color: #FFFFFF;
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.topbar .logo::before {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 100%;
	transition: all 0.3s;
	z-index: -1;
	color: #FFFFFF;
}

.topbar .logo:hover::before {
	color: #D87614;
	top: 0;
}

.espacio_derecha_izquierda{
	margin: 0px 5px;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.8px;
}

.nav a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
}

.topbar span {
	color: #D87614;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inicio {
	background-image: url("../img/catchinno-01.png");
	width: 100%;
 	height: 90vh;
	background-size: cover;
 	position: relative;
}

.inicio h1 {
	color: #FFFFFF;
	font-weight: 900;
}

.inicio h3 {
	color: #D87614;
	font-weight: 700;
}

.inicio h3 span {
	color: #0F2E6C;
}

#trabajos {
	background-color: #0F2E6C;
}

.trabajos {
	color: #FFFFFF;
	text-align: center;
	padding: 50px 0;
}

.trabajos h1 {
	font-weight: 900;
}

.tablas {
	padding: 50px 0;
}

.tablas p {
	font-size: 15px;
	line-height: 28px;
    margin: 20px 0;
    text-align: center;
}

.tablas i {
	padding: 20px 0;
}

.trabajos .col-4 {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(255,255,255,1.00) 0px 0px 0px 3px;
	border-radius: 5px;
	margin: 20px 10px;
	padding: 20px 0;
	text-align: center;
	width: 26rem
}

#final {
	background-color: #D87614;
}

.copyright {
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 20px;
}

.iconbox {
	margin: 0px 15px;
}

.iconbox i {
	padding: 20px 0;
	color: #FFFFFF;
}

/* Sobre Mi */
#sobremi {
	background-color: #D87614;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.sobremi {
	color: #FFFFFF
}

.sobremi img {
	width: 20rem;
	border-radius: 10px;
}

.sobremi_text h1{
	font-weight: 900;
	align-content: center;
}

/* Pets */
#pets {
	background-color: #0F2E6C;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.pets {
	color: #FFFFFF
}
.pets h3 {
	font-weight: 900;
}

.pets img {
	width: 10rem;
	border-radius: 10px;}

/* especialidad */

#especialidad {
	background-color: #D87614;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.especialidad {
	color: #FFFFFF;
}

.especialidad i {
	padding: 20px 0;
}

.especialidad h3 {
	font-weight: 900;
}

/* contact */

#contact {
	background-color: #0F2E6C;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.contact {
	color: #FFFFFF;
}

/* empaques */
#empaque {
	background-color: #D87614;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.empaque {
	color: #FFFFFF;
}

.empaque h1 {
	font-weight: 900
}

.empaque img {
	width: 9rem;
	border-radius: 10px;
}

.empaque .col-6 {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(255,255,255,1.00) 0px 0px 0px 3px;
	border-radius: 5px;
	margin: 20px 10px;
	padding: 20px 0;
	text-align: center;
	width: 26rem
}

.empaque .col-12 {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(255,255,255,1.00) 0px 0px 0px 3px;
	border-radius: 5px;
	margin: 20px 10px;
	padding: 20px 0;
	text-align: center;
	width: 26rem
}

/* revista */
#revista {
	background-color: #0F2E6C;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.revista {
	color: #FFFFFF;
}

.revista h1 {
	font-weight: 900
}

.revista img {
	width: 20rem;
	border-radius: 10px;}

.revista .col-4 {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(255,255,255,1.00) 0px 0px 0px 3px;
	border-radius: 5px;
	margin: 20px 10px;
	padding: 20px 0;
	text-align: center;
	width: 26rem
}

/* empresa */
#empresa {
	background-color: #D87614;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.empresa {
	color: #FFFFFF;
}

.empresa h1 {
	font-weight: 900
}

.empresa img {
	width: 20rem;
	border-radius: 10px;}

.empresa .col-3 {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(255,255,255,1.00) 0px 0px 0px 3px;
	border-radius: 5px;
	margin: 20px 10px;
	padding: 20px 0;
	text-align: center;
	width: 26rem}

/* aprendizaje */
#aprendizaje {
	background-color: #0F2E6C;
	padding: 50px 0;
	align-content: center;
	text-align: center
}

.aprendizaje {
	color: #FFFFFF;
}

.aprendizaje h3 {
	font-weight: 900}